<div class="card-wrapper">
  <mat-card *ngIf="dayForecast">
      <mat-grid-list cols="3" rowHeight="5:1">
          <mat-grid-tile rowspan="2">
              <img class="card-image" [src]="'./assets/weather-icons/' + dayForecast.icon + '.png'">
            <div>
              <span class="temperature"><strong>Min:</strong> {{dayForecast.minTemperature}}</span><br>
              <span class="temperature"><strong>Max:</strong> {{dayForecast.maxTemperature}}</span>
            </div>
          </mat-grid-tile>
        <mat-grid-tile colspan="2"><span class="card-title"><h4>{{dayForecast.day}}</h4></span></mat-grid-tile>
        <mat-grid-tile colspan="2"><span class="card-text">{{dayForecast.summary}}</span></mat-grid-tile>
      </mat-grid-list>
  </mat-card>
</div>
